[user]
    name = Maciek Krawiec
    email = maciek.krawiec@zoho.com
[rerere]
    enabled = 1
    autoupdate = 1
[push]
    default = current
[alias]
    a = add
    ap = add -p
    c = commit
    cm = commit -m
    cam = commit -am
    m = commit --amend --verbose

    d = diff
    ds = diff --staged

    s = status -s
    co = checkout
    cob = checkout -b
