[user]
    name = Maciek Krawiec
    email = maciek.krawiec@zoho.com
[rerere]
    enabled = 1
    autoupdate = 1
[push]
    default = current
[alias]
    # Basic
    st = status --short
    a = add
    c = commit
    cm = commit -m
    ce = commit --amend --no-edit
    ca = commit --amend --verbose
    co = checkout
    cob = checkout -b

    # Pull/Push
    ff = fetch --prune
    pp = !git pull --ff-only origin $(git name)
    ph = push
    pr = pull --rebase --autostash

    # Diff
    d = diff
    ds = diff --staged

    # Rebase
    r = rebase
    ro = rebase -s recursive -X ours
    rt = rebase -s recursive -X theirs

    # Log
    l = log
    ll = log --graph --format=format:\"%C(yellow)%h%C(red)%d%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(blue)<%an>%C(reset)\"
    llm = !git ll master..HEAD
    llom = !git ll origin/master..HEAD
    ls = !git --no-pager log -1 --oneline --shortstat --no-decorate

    # Meta
    name = rev-parse --abbrev-ref HEAD
    recent = !git --no-pager branch --color=always --sort=committerdate --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) (%(color:green)%(committerdate:relative)%(color:reset))' | tail -n 10
    alias = config --get-regexp ^alias\\.
