[user]
    name = Maciek Krawiec
    email = maciek.krawiec@zoho.com
[rerere]
    enabled = 1
    autoupdate = 1
[push]
    default = current
[alias]
    # Basic
    a = add
    c = commit
    ca = commit --amend --verbose
    cm = commit -m
    co = checkout
    cob = checkout -b
    d = diff
    ds = diff --staged
    f = fetch --prune
    l = log
    pf = pull --ff-only
    ph = push
    pr = pull --rebase --autostash
    r = rebase
    ro = rebase -s recursive -X ours
    rt = rebase -s recursive -X theirs
    s = status

    # Info
    ib = !git --no-pager diff --shortstat
    il = !git --no-pager log -1 --oneline --shortstat --no-decorate

    # Meta
    name = rev-parse --abbrev-ref HEAD
    recent = branch --sort=committerdate --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) (%(color:green)%(committerdate:relative)%(color:reset))'
    alias = config --get-regexp ^alias\\.
