neovim/.config/nvim/autoload/plug.vim*
neovim/.config/nvim/spell/

vscode/.config/Code/User/settings.json
vscode/.config/Code/User/*/
!vscode/.config/Code/User/whichkey/
!vscode/.config/Code/User/snippets/
vscode/.var/app/com.vscodium.codium
!vscode/.var/app/com.vscodium.codium/product.json
vscode/.vscode/extensions/*
!vscode/.vscode/extensions/mkrawiec*

.directory
*.py[cod]

# systemd
*.target.wants

# OSX stuff
*.DS_Store
