[Unit]
Description=tmux: A terminal multiplixer Documentation=man:tmux(1)

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s devel -d
ExecStop=/usr/bin/tmux kill-session -t devel
Environment=DISPLAY=:0
Restart=always

[Install]
WantedBy=multiplexer.target
