! ------------------------------------------------------------------------------
! XFT rendering
! ------------------------------------------------------------------------------
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb


! ------------------------------------------------------------------------------
! ROFI configuration
! ------------------------------------------------------------------------------
rofi.font: Iosevka Medium 12
rofi.width: 30
rofi.bw: 3

! Keybindings
rofi.key-run: SuperL+d
rofi.key-window: SuperL+p

! Colorscheme
rofi.color-enabled: true
rofi.color-window: #5e8d87, #8abeb7, #8abeb7
rofi.color-normal: #5e8d87, #8abeb7, argb:e000000, #8abeb7, #ffffff
rofi.color-active: #5f819d, #81a2be, argb:e000000, #81a2be, #ffffff
rofi.color-urgent: #a54242, #cc6666, argb:e000000, #cc6666, #ffffff
