[Desktop Entry]
Categories=Qt;KDE;System;TerminalEmulator;
Exec=konsole-devenv
Icon=sublime
Name=Konsole Devenv
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=konsole-devenv
Type=Application
