snippet desc "describe (jasmine)" b
describe('${1:description}', () => {
  $0
})
endsnippet

snippet it "it (jasmine)" b
it('${1:description}', () => {
  $0
})
endsnippet

snippet bef "before each (jasmine)" b
beforeEach(() => {
  $0
})
endsnippet

snippet aft "after each (jasmine)" b
afterEach(() => {
  $0
})
endsnippet

snippet befa "before all (jasmine)" b
beforeAll(() => {
  $0
})
endsnippet

snippet afta "after all (jasmine)" b
afterAll(() => {
  $0
})
endsnippet
